<div>
    <h2 translate="jobserverApp.qrtzScheduleJob.home.title">Qrtz Schedule Jobs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="qrtz-schedule-job.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="jobserverApp.qrtzScheduleJob.home.createLabel">
                        Create new Qrtz Schedule Job
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'jobserverApp.qrtzScheduleJob.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jobName"><span translate="jobserverApp.qrtzScheduleJob.jobName">Job Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jobGroup"><span translate="jobserverApp.qrtzScheduleJob.jobGroup">Job Group</span> <span class="glyphicon glyphicon-sort"></span></th>
<!--                    <th jh-sort-by="triggerType"><span translate="jobserverApp.qrtzScheduleJob.triggerType">Trigger Type</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="cronExpression"><span translate="jobserverApp.qrtzScheduleJob.cronExpression">Cron Expression</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="beanClass"><span translate="jobserverApp.qrtzScheduleJob.beanClass">Bean Class</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="methodName"><span translate="jobserverApp.qrtzScheduleJob.methodName">Method Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jobStatus"><span translate="jobserverApp.qrtzScheduleJob.jobStatus">Job Status</span> <span class="glyphicon glyphicon-sort"></span></th>
<!--                    <th jh-sort-by="parameterJson"><span translate="jobserverApp.qrtzScheduleJob.parameterJson">Parameter Json</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="isConcurrent"><span translate="jobserverApp.qrtzScheduleJob.isConcurrent">Is Concurrent</span> <span class="glyphicon glyphicon-sort"></span></th>
<!--
                    <th jh-sort-by="batchStatus"><span translate="jobserverApp.qrtzScheduleJob.batchStatus">Batch Status</span> <span class="glyphicon glyphicon-sort"></span></th>
-->
<!--                    <th jh-sort-by="batchTime"><span translate="jobserverApp.qrtzScheduleJob.batchTime">Batch Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="jobserverApp.qrtzScheduleJob.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span translate="jobserverApp.qrtzScheduleJob.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span translate="jobserverApp.qrtzScheduleJob.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createTime"><span translate="jobserverApp.qrtzScheduleJob.createTime">Create Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createBy"><span translate="jobserverApp.qrtzScheduleJob.createBy">Create By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updateTime"><span translate="jobserverApp.qrtzScheduleJob.updateTime">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updateBy"><span translate="jobserverApp.qrtzScheduleJob.updateBy">Update By</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="qrtzScheduleJob in vm.qrtzScheduleJobs track by qrtzScheduleJob.id">
                    <td><a ui-sref="qrtz-schedule-job-detail({id:qrtzScheduleJob.id})">{{qrtzScheduleJob.id}}</a></td>
                    <td>{{qrtzScheduleJob.jobName}}</td>
                    <td>{{jobGroup[qrtzScheduleJob.jobGroup]}}</td>
<!--                    <td>{{qrtzScheduleJob.triggerType}}</td>-->
                    <td>{{qrtzScheduleJob.cronExpression}}</td>
                    <td>{{qrtzScheduleJob.beanClass}}</td>
                    <td>{{qrtzScheduleJob.methodName}}</td>
                    <td>{{triggerStatus[qrtzScheduleJob.jobStatus]}}</td>
<!--                    <td>{{qrtzScheduleJob.parameterJson}}</td>-->
                    <td>{{isConcurrent[qrtzScheduleJob.isConcurrent]}}</td>
<!--                    <td>{{batchStatus[qrtzScheduleJob.batchStatus]}}</td>-->
<!--                    <td>{{qrtzScheduleJob.batchTime | date:'medium'}}</td>
                    <td>{{qrtzScheduleJob.description}}</td>
                    <td>{{qrtzScheduleJob.startDate | date:'medium'}}</td>
                    <td>{{qrtzScheduleJob.endDate | date:'medium'}}</td>
                    <td>{{qrtzScheduleJob.createTime | date:'medium'}}</td>
                    <td>{{qrtzScheduleJob.createBy}}</td>
                    <td>{{qrtzScheduleJob.updateTime | date:'medium'}}</td>
                    <td>{{qrtzScheduleJob.updateBy}}</td>-->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
<!--                            <button type="submit"
                                    ui-sref="qrtz-schedule-job-detail({id:qrtzScheduleJob.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>-->
                            <button type="submit"
                                    ui-sref="qrtz-schedule-job.edit({id:qrtzScheduleJob.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="qrtz-schedule-job.pause({id:qrtzScheduleJob.id})"
                                    class="btn btn-warning btn-sm">
                                <span class="glyphicon glyphicon-pause"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.pause"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="qrtz-schedule-job.resume({id:qrtzScheduleJob.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-repeat"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.resume"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="qrtz-schedule-job.run({id:qrtzScheduleJob.id})"
                                    class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-play"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.run"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="qrtz-schedule-job.delete({id:qrtzScheduleJob.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
